---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

## Featured Projects

### DuckAI 2025 - Symposium on AI Research
[Github]

Fine-tuned LLMs on 16x H100sxm GPUs using FSDP, DDP achieving 77% accuracy.

---

### Music Recommender System
[PDF]

Kaggle Leaderboard Topper on the Yahoo Music Dataset, with 0.928 accuracy.

**Skills:** Ensemble Modelling, Regression, Decision Trees, Naïve Bayes, Support Vector Machines, Data Preprocessing, Clustering

---

### Conditional Diffusion Model
[Github]

Jaccard score of 37.43 for next-frame prediction, 98% accuracy for semantic segmentation.

---

### Distributed LLM Inference Service
[Github]

Use Kubernetes and vLLM to address challenges in memory consumption and latency.

---

## Additional Projects

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

