# Hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.versionrc
!.commitlintrc
!.github
!.vscode

# Bundler cache
_site
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
_sass/dist
